<% @comments.each do |comment| %>
  <p>Posted by: <%= comment.user.name%></p>
  <div class="well">
    <div class="media-body">
      <p><%= comment.content %></p>
    </div>
  </div>
  <hr>
<% end %>
