<div class="row about-us">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 well">
    <h1> About us </h1>
    <p>
      Sushi-ME-Away! is a directory that one day, will be populated with all the take-out sushi stores in Hong Kong. We are always on the lookout for affordable and tasty sushi take-outs since eating out is a big no-no when you're coding 24/7 at General Assembly. That's why creating Sushi-ME-Away! was an easy decision for us, a database directory offering soley sushi take-outs for sushi-lovers!
    </p>
    <p>- Jacky and Toni</p>

    <hr>

    <h2>Contact Us</h2>
    <p>
      Give out website a try and help fill the directory with your favourite sushi-takeouts! It doesn't matter if it's a supermarket or a little sushi-stand tucked at the back of an alley - send us an email at sushimeaway@gmail.com and we'll add it to Sushi-ME-Away!
    </p>
  </div>
</div>
