<div class="intro-header">
  <h2 class="home-header2">Love takeout sushi? You're in the right place!</h2>
  <h1 class="home-header">Sushi-ME Away!</h1>
  <%= link_to 'Find me Sushi-ME Aways!', restaurants_path, class:"btn btn-warning btn-lg home-btn" %>
</div>

<%= render 'pages/aboutus' %>
