<div class="jumbotron feature">
  <div class="container">
    <h1>Sushi-ME Away</h1>
    <p>Love take away sushi? You're in the right place!</p>
    <p>
      <%= form_tag 'restaurants/search', class: "navbar-form navbar-left" do |f| %>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="District Name">
            <%= collection_select(:restaurant, :district_id, District.all, :id, :name, prompt: true) %>
        </div>
        <%= submit_tag 'Search', class:"btn btn-default" %>
      <% end %>
    </p>
  </div>
</div>
