<header class="intro-header">
  <div class="row">
    <h2 class="home-header2">Love takeout sushi? You're in the right place!</h2>
    <h1 class="home-header">Sushi-ME Away!</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well transparency">
      <div>
        <%= form_tag 'restaurants/search' do |f| %>
           <div class="form-group">
              <%= collection_select(:restaurant, :district_id, District.order(:name).all, :id, :name, {prompt: "Select a distict"}, {class: "form-control", style: "color: black"}) %>
          </div>
          <%= submit_tag 'Search', class:"btn btn-warning btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</header>


