<header class="intro-header">
  <div class="container content_header">
    <h1>Sushi-ME Away!</h1>
    <p>Love take away sushi? You're in the right place!</p>
    <div>
      <%= form_tag 'restaurants/search', class: "navbar-form navbar-left" do |f| %>
         <div class="form-group">
            <%= collection_select(:restaurant, :district_id, District.all, :id, :name, {prompt: "Select a distict"}, {class: "form-control"}) %>
        </div>
        <%= submit_tag 'Search', class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</header>


