<!-- Comment area-->
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">

    <!-- not in DB -->
    <h4>Leave a Comment:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Comment -->
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 media">
    <div class="media-body">
        <h4 class="media-heading">Name
            <small>2 days ago</small>
            <span class="pull-right">
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
            </span>
        </h4>
        Wanted to give this place a try because my friends told me to. The ambiance is fine, but and the salmon is good. But the hand roll was old and smelled like fish. I asked for a table for one, with ended up on a date with a cockroach. I won't go back to this place.
    </div>
</div>