<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 well">
  <%= form_for @comment, url: restaurant_comments_path(@restaurant.id) do |f| %>
    <h4>Leave a Comment:</h4>
    <div class="form-group">
      <%= f.text_area :content, class:"form-control", placeholder:"Tell us what you think"%>
      <%= submit_tag 'Submit', class:"btn btn-primary pull-right" %>
      <br>
    </div>
  <% end %>
  <br>
  <%= render 'comments/box', comments: @comments %>
</div>
