<!-- Shop basic info. name | distict | stars | street | price range -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          <%= @restaurant.name %>
            <p>
              <span class="pull-right">
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
              </span>
            </p>

            <p>
              <small>
                <%= @restaurant.address %>
              </small>
            </p>
            <p> <%= @restaurant.price_range %></p>
        </h1>
    </div>
</div>