<!-- Shop basic info. name | distict | stars | street | price range -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          <%= @restaurant.name %>
            <p><small>District</small>
              <span class="pull-right">
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
                <span> * </span>
              </span>
            <p>

            <p> <small>Street
                <span class="pull-right"> $100 - $200 </span>
                </small>
             </p>
        </h1>
    </div>
</div>