<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">
        <%= @restaurant.name %>
      </h1>

      <section class="restaurant-details">
        <address>
          <%= @restaurant.address %>
        </address>
        <p class="pull-right">
          <%= @restaurant.price_range %>
        </p>
      </section>
  </div>
</div