<!-- Shop basic info. name | distict | stars | street | price range -->

<p><small>District (not in DB)</small>
  <span class="pull-right">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </span>
<p>

