
<div class="container well transparency">

  <%= render 'restaurants/header' %>

  <div class="row">
    <div class="col-md-8">
      <%= image_tag(@restaurant.image_url, :size => "700x400") %>
    </div>
    <div class="col-md-4">
      <%= render 'restaurants/moreInfo' %>
    </div>

  </div>
</div>

<hr>