
<div class="container">

  <%= render 'restaurants/header' %>

  <div class="row">

      <div class="col-md-8">
          <img class="img-responsive" src="http://placehold.it/700x400" alt="">
          <!-- <%= @restaurant.image_url %> -->
      </div>

      <div class="col-md-4">
        <%= render 'restaurants/moreInfo' %>
      </div>

  </div>
</div>