<div class="container well transparency">

  <%= render 'restaurants/header' %>

  <div class="row">
    <div class="col-md-8 img-profile">
      <%= image_tag @restaurant.image_url, class: "img-responsive" %>
    </div>
    <div class="col-md-4">
      <%= render 'restaurants/moreInfo' %>
    </div>
  </div>
</div>

<hr>