/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: image-url("background_home.jpeg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin-top: 50px;
  background-position: center;
}

/*log container in on the nav bar*/
input, button, select, textarea {
  margin-right: 20px;
}

.about-us {
  margin-top: 130px;
}

.intro-header {
  text-align: center;
  margin-top: 200px;
}

.home-btn {
  border: 1px solid;
  font-size: 30px;
}

.home-header, .home-header2 {
  font-weight: bolder;
  color: #00D247;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
  font-size: 91px;
  text-align: center;
  text-shadow: black 2px 2px 1px;
}

.home-header2 {
  font-size: 27px;
  text-shadow: black 2px 2px 1px;
}

.navbar-nav > li > a {
  color: white !important;
}

.box {
  margin-top: 50px;
}

.navbar-toggle {
  border: 1px solid white;
  .icon-bar {
    border: 1px solid white;
  }
}

#nav-background {
 background-color: #CC2423;
}

.restaurant-header {
  color: white;
}

.restaurant-cards {
  margin-bottom: 10px;
  .card-wrapper {
    height: 350px;
    padding: 10px;
    .address {
      height: 40px;
    }
  }
}

.result-show {
  width: auto;
  height: 239px;
  overflow: hidden;
  clear: both;
  img {
    width: 100%;
  }
}

.img-profile {
  height: 450px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.showDescription {
  display:none;
  width: 648px;
  text-align: justify;
}

.open {
  color: blue;
  font-style: italic;
}

@media (max-width:336px) {
  .intro-header {
    padding: 75px 0 25px 0;
    h1 {
      font-size: 60px;
      h2 {
        font-size: 30px;
      }
    }
  }
  .home-btn {
    font-size: 30px;
  }
}
