// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
* {
  color: black;
}*/

.transparency{
  background-color: rgba(245, 245, 245, 0.84) !important;
  color: black !important;
}
